<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>distance</key>
	<integer>80</integer>
	<key>expo</key>
	<true/>
	<key>spectacle</key>
	<true/>
	<key>activity</key>
	<true/>
	<key>event</key>
	<false/>
	<key>photo</key>
	<false/>
	<key>paint</key>
	<false/>
	<key>concert</key>
	<true/>
	<key>theatre</key>
	<true/>
	<key>course</key>
	<true/>
</dict>
</plist>
